.Menu.small {
    right: -100%;
}
.Menu {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    height: 100%;
    @media only screen and (min-width:1000px) { 
        width:50%; 
        padding:23px 38px 0 60px;
    }
    @media only screen and (max-width:999px) { 
        width:80%; 
        padding:10px 24px;
    }
    z-index: 100001;
    
    overflow-y:scroll;
    background-color: #fff;
    box-shadow:-4px 0px 0px 1px rgba(0,0,0,0.05);
    transition: right 0.3s;
    transition-timing-function: ease-out;

    .menuTopBar {
        display:flex;
        flex-direction:row;
        justify-content: right; align-items: center;
        .MenuCloseButton {
            display:block;
            box-sizing: border-box;
            text-align: right;
            font-size: 20px;
            cursor: pointer;
            svg {
                height: 36px;
            }
        }
    }
    

    .menuToolBar {
        display: flex;
        flex-direction: row;
        @media only screen and (min-width:1000px) {  margin-top:12px;   gap:60px;}
        @media only screen and (max-width:999px) {  margin-top:4px;  gap:20px; }
        
        .searchUI {
            flex:1 1 auto;
            background: white;
            position: relative;
            input {
                width: 100%;
                @media only screen and (min-width:1000px) {  padding: 20px 60px 20px 20px; }
                @media only screen and (max-width:999px) {  padding: 16px;}
                display: block;
                box-sizing:border-box;
                font-size:16px;
                border:none;
                background-color: #efefef;

            }
            button {
                background: transparent;
                border: none;
                cursor: pointer;
                display: inline-block;
                font-size: 20px;
                position: absolute;
                top: 0;
                right: 0;
                @media only screen and (min-width:1000px) {  padding: 18px 20px 20px 20px; }
                @media only screen and (max-width:999px) {  padding: 12px 10px; }
                // padding: 18px 20px;
                z-index: 2;
                svg {
                    vertical-align: middle;
                }
            }

        }

        .LanguageSelector {
            flex:0 0 auto;
            font-size: 13px;
            background: black;
            @media only screen and (min-width:1000px) {  padding: 20px 20px; }
            @media only screen and (max-width:999px) {  padding: 14px 14px; }
            text-align: center;
            cursor: pointer;
    
            span.active {
                display: inline;
                color: #fff;
            }
    
            span {
                display: inline;
                color: #666; 
            }
           span:hover {
           color:#999;
           }

           }
    }

    .MenuItems {
        margin: 32px 0 18px;
        .L1 {
            margin-top: 12px; padding-top:12px;
            font-weight:700;
            @media only screen and (min-width:1000px) {  font-size:24px; }
            @media only screen and (max-width:999px) {  font-size: 21px; }
            //border-top: solid 1px #d7d7d7;
            a {
                color: #333;
                font-weight: 800;
                text-decoration: none;
                line-height: 1.8em;
                margin-right:0.4em;
            }
            a:hover {
            color: #555;
            }
            svg {
                vertical-align: text-top;
                font-size:1.15em;
            }

            .L2 {
            font-size: 0.95em;
            padding-left:0.5em;
                a {
                    display: block;
                    font-weight: 400;
                    line-height: normal;
                    margin-top:16px; 
            
                }
            }
        }
    }
    .AuthUI {
        margin-top:42px;
        border-top:1px solid #d7d7d7;
        // border-radius:14px;
        padding:20px 0;
        label {
            margin-top: 14px;
            font-weight:600;
            font-size: 18px;
            letter-spacing: 0.05rem;
        }
        p {
            margin-left:12px;
            font-size:18px;
        }
        button.signOutLink, button.auth {
            margin-left:8px; 
            font-size:12px;
        }
    }


}