.Footer {
    width:100%;
    // height:320px;
    background:#f7f7f7;
    .FooterSection {
        border-bottom:3px solid #fff;
    }
    .FooterContent_1 {
        margin:auto;
        // max-width:1200px;
        box-sizing:border-box;
        @media only screen and (max-width:500px) { padding:20px; font-size:12px; }
        @media only screen and (min-width:500px) { padding:30px; font-size:14px;}
        @media only screen and (min-width:1000px) { padding:40px; font-size:14px;}
        overflow:hidden;
        color:#555;
        display:flex;
        flex-direction:row;
        @media only screen and (min-width:999px) {
            display:flex;
            flex-direction:row;
        }
        @media only screen and (max-width:999px) {
            display:flex;
            flex-direction:column;
        }
        .department_info {
            display:flex;
            flex-direction: row;
            svg {
                // flex:0 0 auto;
                @media only screen and (max-width:500px) { height:36px; }
                @media only screen and (min-width:500px) { height:40px; }
                @media only screen and (min-width:1000px) { height:46px; }
            }
            p{
                // flex:1 0 auto;
                vertical-align: top;
                font-size:0.8em;
                line-height:1.3em;
                margin:0.9em 0 6px 10px;
                white-space: break-all;
                
            }
            
        }
        p.small {
            font-size:0.9em;
        }
        .kaist_logo_wrapper_mobile {
            text-align:left;
            margin-top:20px;
            .KAIST_Logo {
                width:60px;
            }
        }
        

        .shortcuts {
            flex:1 0 auto;
            font-size:0.9em;
            @media only screen and (max-width:500px) { 
                padding:10px 0;  
                text-align: left;
            }
            @media only screen and (min-width:500px) { 
                padding:10px 0; 
                text-align: left;
            }
            @media only screen and (min-width:1000px) { 
                padding:0px 0 0 20px; 
                text-align: right;
            }
            vertical-align: top;
            max-width: 100%;
            a {
                img {
                    margin-top:40px;
                    margin-right:40px;
                    width:100px;
                }
            }
            color:#707070;
            .column {
                display:inline-block;
                vertical-align: top;
                text-align:left;
                margin-top:10px;
                width:100px;
                @media only screen and (max-width:500px) { margin-left:20px; }
                @media only screen and (min-width:500px) { margin-left:20px; }
                @media only screen and (min-width:1000px) { margin-left:40px; }
                .L1 {
                    display:block;
                    box-sizing: border-box;
                    margin:0 0 5px 0;
                    color:inherit;
                    font-weight:600;
                    text-decoration:none;
                }
                .L2 {
                    display:block;
                    font-weight:400;
                    padding-bottom:2px;
                    text-decoration:none;
                    color:inherit;
                }
                .L1:hover {color:#333;}
                .L2:hover {color:#333;}
            }
            
        }

        
    }
    .FooterContent_2 {
        margin:auto;
        // max-width:1200px;
        box-sizing:border-box;
        @media only screen and (max-width:500px) { padding:20px;}
        @media only screen and (min-width:500px) { padding:30px 40px;}
        @media only screen and (min-width:1000px) { padding:40px;}
        
        overflow:hidden;
        color:#555;
        display:flex;
        flex-direction:row;
        gap:40px;
        font-size:13px;
        display:flex;
        flex-direction:row;
        gap:40px;
    
        .department_info {
            @media only screen and (min-width:999px) { }
            @media only screen and (max-width:999px) { }
            position:relative;
            padding-left:54px; padding-top:16px;
            
            svg {
                display:block;
                position:absolute;
                top:0; left:0; 
            }
            p{
                display:block;
                font-size:1em;
                line-height:1.3em;
                margin:0 0 6px 0;
                
            }
        }
        .copyright {
            flex:1 1 auto;
            font-size:0.9em;
        }
        a {
            flex:0 0 auto;
            text-align:right;
            img {
                display:inline-block;
                @media only screen and (max-width:500px) { margin-right:0px; height:24px; }
                @media only screen and (min-width:500px) { margin-right:0px; height:24px; }
                @media only screen and (min-width:1000px) { margin-right:40px; height:30px; }
            }
        }
    }
    
    
}