.Footer {
    width:100%;
    // height:320px;
    background:#f7f7f7;
    .FooterSection {
        border-bottom:3px solid #fff;
    }
    .FooterContent_1 {
        margin:auto;
        // max-width:1200px;
        box-sizing:border-box;
        @media only screen and (max-width:500px) { padding:20px; font-size:12px; }
        @media only screen and (min-width:500px) { padding:30px; font-size:14px;}
        @media only screen and (min-width:1000px) { padding:40px; font-size:16px;}
        overflow:hidden;
        color:#555;
        display:flex;
        flex-direction:row;
        @media only screen and (min-width:999px) {
            display:flex;
            flex-direction:row;
        }
        @media only screen and (max-width:999px) {
            display:flex;
            flex-direction:column;
        }
        .department_info {
            display:flex;
            flex-direction: row;
            svg {
                // flex:0 0 auto;
                @media only screen and (max-width:500px) { height:36px; }
                @media only screen and (min-width:500px) { height:40px; }
                @media only screen and (min-width:1000px) { height:46px; }
            }
            p{
                // flex:1 0 auto;
                vertical-align: top;
                font-size:0.8em;
                line-height:1.3em;
                margin:0.9em 0 6px 10px;
                white-space: break-all;
                
            }
            
        }
        p.small {
            font-size:0.9em;
        }
        .kaist_logo_wrapper_mobile {
            display:block;
            text-align:right; 
            margin-top:20px;
            height:80px;
            .other_logo {
                opacity:0.6;
                height:30px;
                margin-right:14px;
                vertical-align: middle;
            }
            .KAIST_Logo {
                width:80px;
                vertical-align: middle;
            }
        }
        

        .shortcuts {
            flex:1 0 auto;
            font-size:0.9em;
            @media only screen and (max-width:500px) { 
                padding:10px 0;  
                text-align: left;
            }
            @media only screen and (min-width:500px) { 
                padding:10px 0; 
                text-align: left;
            }
            @media only screen and (min-width:1000px) { 
                padding:0px 0 0 20px; 
                text-align: right;
            }
            vertical-align: top;
            max-width: 100%;
            a {
                img {
                    margin-top:40px;
                    margin-right:40px;
                    width:100px;
                }
            }
            color:#707070;
            .column {
                display:inline-block;
                vertical-align: top;
                text-align:left;
                margin-top:10px;
                width:100px;
                // @media only screen and (max-width:500px) { margin-left:12px; }
                // @media only screen and (min-width:500px) { margin-left:16px; }
                @media only screen and (min-width:1000px) { margin-left:16px; }
                @media only screen and (min-width:1400px) { margin-left:32px; }
                .L1 {
                    display:block;
                    box-sizing: border-box;
                    margin:0 0 5px 0;
                    color:inherit;
                    font-weight:600;
                    text-decoration:none;
                }
                .L2 {
                    display:block;
                    font-weight:400;
                    padding:4px 0 4px 0;
                    text-decoration:none;
                    font-size:0.8em;
                    color:inherit;
                }
                .L1:hover {color:#333;}
                .L2:hover {color:#333;}
            }
            
        }

        
    }
    .FooterContent_2 {
        margin:auto;
        // max-width:1200px;
        @media only screen and (max-width:500px) { padding:0 20px;}
        @media only screen and (min-width:500px) { padding:0 40px;}
        @media only screen and (min-width:1000px) { padding:0 40px;}
        height:114px;
        color:#555;
        display:flex;
        flex-direction:row;
        font-size:13px;
    
        .copyright {
            flex:1 1 auto;
            font-size:0.9em;
            margin-top:40px;
        }
        .logos {
            flex:0 0 auto;
            text-align:right;
            margin-top:25px;
            text-align:right;
            img.other_logo {
                display:inline-block;
                opacity:0.6;
                vertical-align: middle;
                @media only screen and (min-width:1000px) { margin-right:20px; height:40px; }
                cursor:pointer;
            }
            img.KAIST_Logo {
                display:inline-block;
                vertical-align: middle;
                @media only screen and (min-width:1000px) { margin-right:0px; height:30px; }
                cursor:pointer;
            }
        }
    }
    a.admin_login {
        display:inline-block;
        margin-right:12px;
        text-decoration: underline;
    }
    
    
}